.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
}

.menu{
    display: flex;
    gap: 3em;
    margin-right: 12em;
}
/* 
@media (max-width: 500px){
    .navBar{
        margin-top: 2em;
    }
} */