.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  border-bottom: 1px solid #49bcbe;
  position: fixed;
  width: 100vw;
}

.menu {
  display: flex;
  gap: 3em;
  margin-right: 12em;
}

@media (max-width: 600px) {
  .navBar {
    margin-bottom: 0em;
  }
}
